@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.35rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.15rem;
    font-weight: 700;
  }
  h5 {
    font-size: 1.05rem;
    font-weight: 600;
  }
  h6 {
    font-size: 1rem;
    font-weight: 600;
  }
}
